<div class="container">
  <div class="page-header"><h1>Editing post</h1></div>

<%= render 'form' %> 
  
  <button type="button" class="btn btn-default"><%= link_to 'Cancel/Back', post_path(@post) %></button>
  
    <div class="navbar navbar-fixed-bottom" style="box-shadow: -10px -10px 5px #CCCCCC;" inverse>
      <div class="btn navbar-btn btn-primary"><i class="glyphicon glyphicon-home"></i> <%= link_to "Home", "/" %></div>
      <div class="btn navbar-btn btn-default"><%= link_to 'List all posts', posts_path %></div>
      <div style="float: right;"><button type="button" class="btn btn-danger"><%= link_to 'Delete this post & all comments', post_path(@post),
method: :delete, data: {confirm: 'Are you sure you want to delete this post & all its comments?'} %></button></div>
      <button type="button" class="btn navbar-btn btn-success"><%= link_to 'New post', new_post_path %></button>    
    </div>  

</div>