<div class="container">
  <h1 class="page-header">listing post id <%= @post.id %></h1>
    
  <div class="well large-well">    
     <strong><%= @post.title %></strong><br><small><%= @post.created_at %></small>
     <pre><%= @post.text %></pre>
  </div>  
   
 
    <h2>Comments</h2>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Commenter</th>
        <th>Comment</th>
      </tr>
      <%= render @post.comments %>
    
  </table>
 
  <h2>Add a comment:</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br />
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  
  <button type="button" class="btn btn-default"><%= link_to 'Back', posts_path %></button>
  <button type="button" class="btn btn-success"><%= link_to 'Edit', edit_post_path(@post) %></button>
</div>
