<div class="container">
  <h1 class="page-header"><small>post id <%= @post.id %> -</small> <%= @post.title %></h1>
    
  <div class="well large-well">    
     <strong><%= @post.title %></strong><br><small><%= @post.created_at %></small>
     <pre><%= @post.text %></pre>
  </div>  
   
 
    <h2>Comments</h2>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Commenter</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
      <%= render @post.comments %>
    
  </table>
 
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>

  
  <button type="button" class="btn btn-default"><%= link_to 'List all posts', posts_path %></button>
  <button type="button" class="btn btn-warning"><%= link_to 'Edit this post', edit_post_path(@post) %></button>
  
    <div class="navbar navbar-fixed-bottom" style="box-shadow: -10px -10px 5px #CCCCCC;" inverse>
      <div class="btn navbar-btn btn-primary"><i class="glyphicon glyphicon-home"></i> <%= link_to "Home", "/" %></div>
      <div class="btn navbar-btn btn-default"><%= link_to 'List all posts', posts_path %></div>
      <button type="button" class="btn btn-warning"><%= link_to 'Edit this post', edit_post_path(@post) %></button>
      <div style="float: right;"><button type="button" class="btn btn-danger"><%= link_to 'Delete this post & all comments', post_path(@post),
             method: :delete, data: {confirm: 'Are you sure you want to delete this post & all its comments?'} %></button></div>
      <button type="button" class="btn navbar-btn btn-success"><%= link_to 'New post', new_post_path %></button>    
    </div>
  
</div>
